@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    /* border: 2px solid red; */
    font-family: 'Press Start 2P', Ubuntu, sans-serif;
}

/* elements */
body {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

a {
    color: rgb(0, 255, 0);
}

/* classes */

.control {
    background-color: black;
    color: rgb(0, 255, 0);
    width: 60%;
    height: 10%;
    font-weight: bold;
    font-size: large;
    box-shadow: 2px 8px 10px rgb(0, 85, 0);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 2%;
}

.grid {
    border: 1px solid gray;
}

.rainbow {
    /* placeholder for JS trigger */
} 

/* IDs */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

#title {
    font-size: 42px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(0, 255, 0);
}

#workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83%;
    width: 100%;
    background-color: rgb(15, 15, 15);
}

#controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    padding-left: 5%;
}

#colorControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 20%;
}

#colorControlsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

#blackButton {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 4px;
    width: 40%;
    height: 0%;
    padding-bottom: 30%;
    box-shadow: 2px 8px 10px rgb(0, 85, 0);
}

#colorSelector {
    width: 40%;
    height: 132%;
}

#canvasSizeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 20%;
    background-color: black;
    color: white;
    box-shadow: 2px 8px 10px rgb(0, 85, 0);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 4px;
}

#canvasSizeText {
    width: 80%;
    height: 25%;
    text-align: center;
    margin-bottom: -20px;
    color: rgb(0, 255, 0);
}

#sizeInput {
    width: 80%;
    height: 25%;
    text-align: center;
    font-size: larger;
    margin-bottom: 5px;
}

#newCanvas {
    width: 80%;
    height: 20%;
    margin-bottom: 5px;
}

#canvasSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#canvas {
    display: grid;
    width: 35vw;
    height: 35vw;
    background-color: white;
    box-shadow: 8px 12px 10px rgb(0, 85, 0);
    border: 2px solid rgb(0, 255, 0);
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
    width: 100%;
    margin: 0%;
    background-color: rgb(15, 15, 15);
    color: rgb(0, 255, 0);
}
