* {
    border-width: 3px;
    border-style: solid;
    border-color: red;
}

/* classes */

.tileStyle {
    display: flex;
    width: 10em;
    height: 15em;
}

.tileStyleActive {
    color: black;
    background-color: black;
}

/* IDs */

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#newgrid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    background-color: rgb(62, 6, 148);
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-family: Ubuntu, sans-serif;
}