@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    border: 2px solid red;
    font-family: 'Press Start 2P', Ubuntu, sans-serif;
}

/* elements */
body {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
/* classes */

.button {
    background-color: black;
    color: white;
    width: 60%;
    height: 10%;
    font-weight: bold;
    font-size: large;
    box-shadow: 2px 8px 10px rgb(4, 26, 124);
    border: 2px solid red;
    border-radius: 4px;
}

/* IDs */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: rgb(4, 26, 124);
}

#title {
    font-size: 42px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

#workspace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 100%;
    background-color: rgb(124, 4, 27);
}

#controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
}

#sizeDiv {
    background-color: black;
    color: white;
    width: 60%;
    height: 10%;
}

#gridSizeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#gridSpace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 0%;
    background-color: rgb(4, 26, 124);
    color: white;
}